/*五種不同css語法設計layout*/

body {
    background-color: rgb(203, 255, 238);
}

input[type=text]{
    background-color: #DFFFDF;
    color: gray;
}

button {
    background-color: #DFFFDF;
    color: solid black;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}